<h1><%= @brand.name %></h1>

<p><a class="btn btn-primary" role="button" href="/brands/<%= @brand.id %>/edit">Edit Brand Name</a></p>

<form action="/brands/<%= @brand.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-danger" type="submit">Delete Brand</button>
</form>

<% if @brand.stores.any? %>
  <h2>Stores that sell <%= @brand.name %></h2>
  <ul>
    <% @brand.stores.each do | store | %>
    <li><a href="/stores/<%= store.id %>"><%= store.name %></a></li>
    <% end %>
  </ul>
<% end %>

<h3>Add a store</h3>
<form action="/brands/<%= @brand.id %>/stores" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <select class="form-control" name="store">
      <% if @stores %>
      <% @stores.each do | store | %>
      <option value="<%= store.id %>"> <%= store.name %> </option>
      <% end %>
      <% end %>
    </select>
  </div>
  <button class="btn btn-success" type="submit" name="button">Add</button>
</form>
